<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyes.cloud.mapper.StorageDealMapper">
    <select id="getDayList" resultType="com.eyes.cloud.dto.outDto.storageDeal.StorageDealDayList">
        SELECT
            from_days( sd.days ) as 'day'
        FROM
            ( SELECT TO_DAYS( sd.create_time ) AS days, sd.* FROM storage_deal sd ) sd
        where
            sd.user_id=#{0}
        GROUP BY
            sd.days
        ORDER BY
            sd.days DESC
    </select>

    <select id="getList" resultType="com.eyes.cloud.dto.outDto.storageDeal.StorageDealOutDto">
        SELECT
            *
        FROM
            ( SELECT TO_DAYS( sd.create_time ) AS days, sd.* FROM storage_deal sd ) sd
        WHERE
            sd.days = TO_DAYS( #{param2} )
            and sd.user_id=#{param1}
    </select>

    <select id="statistics" resultType="com.eyes.cloud.dto.outDto.storageDeal.StatisticsDto">
        SELECT
            SUM( sd.file_size ) AS sum,
            sd.`status`,
            COUNT(*) as count
        FROM
            storage_deal sd
        WHERE
            sd.user_id = #{0}
        GROUP BY
            `status`
    </select>
</mapper>
